
.nav-header{
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
  padding: 5px 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9998;
  .header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: #80808030;
      margin-right: 10px;
      position: relative;
      cursor: pointer;
      .icon-notifi {
        position: absolute;
        top: 0;
        right: 0;
        color: white;
        background-color: #3a51da;
        border-radius: 50%;
        padding: 3px;
        font-size: 10px;
      }
    }
    .person-icon {
      position: relative;
      .img-people-avatar {
        border: none;
      }
    }
  }
  .person-icon {
    position: relative;
    width: 40px;
    height: 40px;
    .img-people-avatar {
      border-radius: 50%;
      border: 2px solid #65676b;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      cursor: pointer;
    }
  }
}

.dialog-button-light{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 1999;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  color:#6C7588;
  background-color: white;
}

.dialog-button-light::before{
  position: absolute;
  content: '';
  border-width: 10px 15px;
  border-style: solid;
  right: 2%;
  top: -19px;
  border-color: transparent transparent white transparent;
}

.dialog-button-dark{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 1999;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  color:#6C7588;
}

.dialog-button-dark::before{
  position: absolute;
  content: "";
  border-width: 10px 15px;
  border-style: solid;
  right: 2%;
  top: -19px;
  border-color: transparent transparent #242526 transparent;
}

@media (max-width: 768px) {
  .nav-header {
    padding: 5px 16px;
  }
  .dialog-button-dark_notifi,.dialog-button-light_notifi{
    right: -46px;
  }
  .dialog-button-dark_notifi::before,.dialog-button-light_notifi::before{
    right: 14%;
  }
}
