.nav-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
  padding: 5px 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9998;
  .nav-header-icon {
    display: flex;
    align-items: center;
    gap: 5px;
    .nav-header-menu {
      display: none;
      .sidebar_mobile {
        position: fixed;
        top: 59px;
        left: -300px; /* Vị trí ban đầu nằm ngoài màn hình */
        background-color: #fff;
        transition: transform 1s ease; /* Áp dụng hiệu ứng chuyển động */
        transition-duration: 0.5s; /* Áp dụng hiệu ứng chuyển động */
        
      }
      .open {
        left: 0; /* Di chuyển sidebar vào màn hình */
        transition-timing-function: linear;
      }
      .menu_icon {
        cursor: pointer;
        font-size: 25px;
        color: #a1a1b6;
      }
    }
  }
  .header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: #80808030;
      margin-right: 10px;
      position: relative;
      cursor: pointer;
      .icon-notifi {
        position: absolute;
        top: 0;
        right: 0;
        color: white;
        background-color: #3a51da;
        border-radius: 50%;
        padding: 3px;
        font-size: 10px;
      }
    }
    .person-icon {
      position: relative;
      .img-people-avatar {
        border: none;
      }
    }
  }
  .person-icon {
    position: relative;
    width: 40px;
    height: 40px;
    .img-people-avatar {
      border-radius: 50%;
      border: 2px solid #65676b;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      cursor: pointer;
    }
  }
}
@keyframes fadeIn {
  from {
    left: -300px;
  }
  to {
    left: 0;
  }
}

.dialog-button-light {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
  position: absolute;
  top: 60px;
  right: -30px;
  z-index: 1999;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  color: #6c7588;
  background-color: white;
}

.dialog-button-light::before {
  position: absolute;
  content: '';
  border-width: 10px 15px;
  border-style: solid;
  right: 17%;
  top: -19px;
  border-color: transparent transparent white transparent;
}

.dialog-button-dark {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
  position: absolute;
  top: 60px;
  right: -30px;
  z-index: 1999;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  color: #6c7588;
}

.dialog-button-dark::before {
  position: absolute;
  content: '';
  border-width: 10px 15px;
  border-style: solid;
  right: 17%;
  top: -19px;
  border-color: transparent transparent #242526 transparent;
}

.dialog-button-dark_notifi,
.dialog-button-light_notifi {
  position: absolute;
  right: -80px;
}
.dialog-button-dark_notifi::before,
.dialog-button-light_notifi::before {
  position: absolute;
  right: 24%;
}
@media (max-width: 1240px) {
  .nav-header {
    .nav-header-icon {
      .nav-header-menu {
        display: block;
      }
    }
  }
}
@media (max-width: 768px) {
  .nav-header {
    padding: 5px 16px;
  }
  .dialog-button-dark,
  .dialog-button-light {
    right: -2px;
  }
  .dialog-button-dark::before,
  .dialog-button-light::before {
    right: 4%;
  }
  .dialog-button-dark_notifi,
  .dialog-button-light_notifi {
    right: -46px;
  }
  .dialog-button-dark_notifi::before,
  .dialog-button-light_notifi::before {
    right: 16%;
  }
}
