.container-lbutton {
  padding: 20px 30px;
  min-width:210px;
  .logout-button-info{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    border-bottom: 3px solid #ccc;
    margin-bottom: 10px;
    .img-people-avatar{
      width: 40px;
      height: 40px;
      margin-right: 10px;
    }
    .user-name{
      font-weight: 600;
      font-size: 1rem;
    }
  }
  .navbar-logout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    .link{
      display: flex;
      justify-content: center;
      align-items: center;
      .link-image{
        border-radius: 50%;
        padding: 10px;
        background-color: #80808030;
        img{
          height: 26px;
          width: 26px;
        }
      }
      .text-logout{
        text-decoration: none;
        border: none;
        color: #000;
        font-size: 1rem;
      }
    }
    .text-logout{
      margin-left: 10px;
    }
  }
}