.home-posts{
    padding: 80px 0px 0px 20px;
    display: flex;
    align-items: center;
    gap: 3px;
    color: #6C7588;
    cursor: pointer;
}

.home-posts:hover {
    color: blue;
    text-decoration: underline;
}
.container-post{
    padding: 0px 20% 50px 20% ;
    .notifi-progress{
        text-align: center;
        height: 100px;
    }
}

@media (max-width: 1200px){
    .container-post{
        padding: 10px 15% 50px 15% ;
    }
}
@media (max-width: 950px){
    .container-post{
        padding: 0px 8% 50px 8% ;
    }
}
@media (max-width: 768px){
    .container-post{
        padding: 20px 16px;
    }
}