.container-item {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  padding: 5%;
}

.container-item .container-item-img {
  width: 100%;
}

.container-item .container-item-img img {
  width: 100%;
}

.container-item .container-item-reactTotal {
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-item .container-item-reactTotal .list-inline-item {
  padding: 1px;
  cursor: pointer;
}

.container-item .container-item-reactTotal .list-inline-item .btn-reaction {
  border: none;
  padding: 0;
  background-color: none;
}

.container-item .container-item-reactTotal .list-inline-item .btn-reaction .emoji {
  width: 18px;
  height: 18px;
}

.container-item .container-item-reactTotal .list-inline-item .btn-reaction .emoji1 {
  font-size: 0.9rem;
  line-height: 1.3;
}

.container-item .container-item-react {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  border-top: 1px #ccc solid;
}

.container-item .container-item-react .react-like {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  padding: 20px;
}

.container-item .container-item-react .react-like:hover {
  background-color: #ccc;
}

.container-item .container-item-react .react-comment {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  cursor: pointer;
}

.container-item .container-item-react .react-comment :hover {
  background-color: #ccc;
}

.container-item .container-item-react .react-comment:hover {
  background-color: #ccc;
}

.container-item .comment {
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.container-item .comment:last-child {
  border-bottom: none !important;
}

.container-item .container-item-reactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100% !important;
  position: relative;
  margin-top: 10px;
  --c-text: #5a5a64;
  --c-text-light: #a1a1b6;
  --c-text-selection: #09abc3;
  --c-background: #fff;
  --c-background-selection: rgba(9, 171, 195, 0.15);
  --c-border: #e2e2ed;
  --c-border-hover: #d0d0db;
  --c-border-active: #09abc3;
  --c-shadow: rgba(41, 41, 86, 0.06);
  --c-shadow-active: rgba(9, 171, 195, 0.25);
  --eye-background: 0;
  --eye-offset: 3px;
  --eye-wrapper-y: 0;
  --eye-y: 0;
  --eye-x: 0;
  --eye-s: 1;
  width: 220px;
  position: relative;
  border-radius: 7px;
  background: var(--c-background);
  -webkit-box-shadow: inset 0 0 0 1px var(--border, var(--c-border)), 0px 1px 3px var(--shadow, var(--c-shadow));
          box-shadow: inset 0 0 0 1px var(--border, var(--c-border)), 0px 1px 3px var(--shadow, var(--c-shadow));
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
}

.container-item .container-item-reactInfo:hover {
  --border: var(--c-border-hover);
  --eye-duration: 0.05s;
}

.container-item .container-item-reactInfo:focus-within {
  --border: var(--c-border-active);
  --shadow: var(--c-shadow-active);
}

.container-item .container-item-reactInfo .emoji-box {
  position: absolute;
  top: 40px;
  right: 0;
}

.container-item .container-item-reactInfo input {
  width: 100%;
  -webkit-appearance: none;
  outline: none;
  background: none;
  border: none;
  margin: 0;
  display: block;
  font-size: 16px;
  line-height: 21px;
  height: 45px;
  color: var(--c-text);
  padding: 12px 41px 12px 16px;
  -webkit-transform: translateY(var(--y, var(--default-y, 0))) translateZ(0);
          transform: translateY(var(--y, var(--default-y, 0))) translateZ(0);
  opacity: var(--o, var(--default-o, 1));
  pointer-events: var(--pe, var(--default-pe, auto));
  -webkit-transition: opacity 0.25s, -webkit-filter 0.35s, -webkit-transform 0.4s;
  transition: opacity 0.25s, -webkit-filter 0.35s, -webkit-transform 0.4s;
  transition: filter 0.35s, transform 0.4s, opacity 0.25s;
  transition: filter 0.35s, transform 0.4s, opacity 0.25s, -webkit-filter 0.35s, -webkit-transform 0.4s;
}

.container-item .container-item-reactInfo input::-webkit-input-placeholder {
  color: var(--c-text-light);
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.container-item .container-item-reactInfo input:-ms-input-placeholder {
  color: var(--c-text-light);
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.container-item .container-item-reactInfo input::-ms-input-placeholder {
  color: var(--c-text-light);
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.container-item .container-item-reactInfo input::placeholder {
  color: var(--c-text-light);
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}

.container-item .container-item-reactInfo input::-moz-selection {
  color: var(--c-text-selection);
  background: var(--c-background-selection);
}

.container-item .container-item-reactInfo input::selection {
  color: var(--c-text-selection);
  background: var(--c-background-selection);
}

.container-item .container-item-reactInfo input:focus::-webkit-input-placeholder, .container-item .container-item-reactInfo input:hover::-webkit-input-placeholder {
  color: var(--c-text);
}

.container-item .container-item-reactInfo input:focus:-ms-input-placeholder, .container-item .container-item-reactInfo input:hover:-ms-input-placeholder {
  color: var(--c-text);
}

.container-item .container-item-reactInfo input:focus::-ms-input-placeholder, .container-item .container-item-reactInfo input:hover::-ms-input-placeholder {
  color: var(--c-text);
}

.container-item .container-item-reactInfo input:focus::placeholder, .container-item .container-item-reactInfo input:hover::placeholder {
  color: var(--c-text);
}

.container-item .container-item-reactInfo input:not(.clear) {
  width: 100%;
}

.container-item .container-item-reactInfo input.clear {
  --y: var(--clear-y, 12px);
  --o: var(--clear-o, 0);
  --pe: var(--clear-pe, none);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
}

.container-item .container-item-reactInfo .input-icon {
  padding: 5px 16px 5px 5px;
  color: #ccc;
}

.container-item .input-button {
  padding: 8px;
  color: #89CFF0;
  cursor: pointer;
  font-size: 1.6rem;
}

@media (min-width: 1400px) {
  .container-item {
    padding: 3%;
  }
}
/*# sourceMappingURL=style.css.map */