.main-container {
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 70px 5% 0 5%;
  gap: 20px;
  .sidebar-left {
    width: 30%;
    height: 85vh;
    position: fixed;
    left: 69%;
    top: 69px;
    background-color: white;
    max-width: 350px;
    border-radius: 5px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  }
  .main-content {
    width: 70%;
    position:relative;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    .notifi-progress{
      text-align: center;
      height: 100px;
    }
    .main-tabs{
      background-color: white;
      padding: 10px;
      height: 80vh;
    }
    .css-19kzrtu {
      padding: 0;
    }
    .box-tabs{
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }
  .scrollUp {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 10px;
    font-size: 35px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #0000004d;
  }

}
@keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.5;
  }
}

@media (max-width: 1440px) {
  .main-container {
    .sidebar-left {
      padding: 10px;
    }
  }
}
@media (max-width: 1240px) {
  .main-container {
    .sidebar-left {
      display: none;
    }
    .main-content {
      width: 100%;
      padding: 10px 5% 0px;
      .res-onclick-users{
        display: block;
      }
    }
  }
}
@media (max-width: 768px) {
  .main-container {
    padding: 0;
    .main-content {
      padding: 70px 5% 0px;
      .res-onclick-users{
        display: block;
      }
    }
  }
}