.main-container {
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin: auto;
  margin-top: 10px;
  padding: 60px 0 0 0;
  .sidebar-left {
    width: 22%;
    height: 90vh;
    position: fixed;
    right: 58px;
    top: 66.5px;
  }
  .main-content {
    width: 76%;
    position:relative;
    .TabPanel{
      padding: 24px 16px;
      .notifi-progress{
        text-align: center;
        height: 100px;
      }
    }
    .box-tabs{
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
    .res-onclick-users{
      display: none;
    }
    .res-users{
      position: fixed;
      top: 60px;
      right: 0;
      z-index: 9999;
      width: 50%;
      background-color: white;
      padding: 10px 10px 0 10px;
      height: 90vh;
      .res-users-header{
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding: 0 5px;
        margin-bottom: 5px;
      }
    }
  }
  .scrollUp {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 10px;
    font-size: 35px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #0000004d;
  }

}
@keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.5;
  }
}
@media (max-width: 1440px) {
  .main-container {
    .sidebar-left {
      padding: 10px 5px 0px 25px
    }
    .main-content {
      padding: 10px 25px 0px 5px;
    }
  }
}
@media (max-width: 1240px) {
  .main-container {
    .sidebar-left {
      display: none;
    }
    .main-content {
      width: 100%;
      padding: 10px 5% 0px;
      .res-onclick-users{
        display: block;
        cursor: pointer;
        padding: 0 20px 0 0;
      }
    }
  }
}
@media (max-width: 768px) {
  .main-container {
    padding: 0;
    .main-content {
      padding: 70px 5% 0px;
      .res-onclick-users{
        display: block;
      }
      .res-users{
        width: auto;
      }
    }
  }
}
@media (max-width: 500px) {
  .main-container {
    .main-content {
      padding: 70px 0 0 0;
    }
  }
}