@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.container-comment {
  width: 100%;
  .container-comment-scroll {
    overflow-y: auto;
    overflow-x: hidden;
    width:100%;
    max-height: 380px;
    padding-bottom: 35px;
    .comment-progress{
      text-align:center;
      padding: 20px 0;
      height: 50px;
    }
    .comment {
      width: 100%;
      animation-name: fadeInDown;
      animation-duration: 0.5s;
    }
    .comment:last-child {
      border-bottom: none !important;
    }
    .show-page-comment{
      font-size: 15px;
      font-weight: 500;
      cursor: pointer;
    }
    .show-page-comment:hover{
      text-decoration: underline;
    }
  }
  .scroll-light::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }
  .scroll-light::-webkit-scrollbar {
    width: 3px;
    background-color: #f5f5f5;
  }
  .scroll-light::-webkit-scrollbar-thumb {
    background-color: #5a5a6452;
  }
  .scroll-dark::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #282829eb;
  }
  .scroll-dark::-webkit-scrollbar {
    width: 3px;
    background-color: #282829eb;
  }
  .scroll-dark::-webkit-scrollbar-thumb {
    background-color: #3e3e46f2;
  }
}
@media (max-width: 500px){
  .container-comment{
    margin-bottom: 10px;
  }
}