.container-comment {
  width: 100%;
  .comment {
    width: 100%;
    border-bottom: 1px solid #f8f8f8;
  }
  .comment:last-child {
    border-bottom: none !important;
  }
  .show-page-comment{
    margin: 15px 0;
  }
}
