.container-comment {
  width: 100%;
  .comment-progress{
    text-align:center;
    padding: 20px 0;
  }
  .comment {
    width: 100%;
  }
  .comment:last-child {
    border-bottom: none !important;
  }
  .show-page-comment{
    font-size: 13px;
    margin: 15px 0;
    cursor: pointer;
  }
}
