.comment-item {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 16px 16px 16px;
  .author-avatar {
    display: flex;
    // justify-content: center;
    width: 100%;
    // padding: 0 80px 0 0;
    // overflow-wrap: break-word;
    align-items: center;
    gap: 5px;
    position: relative;
    img {
      border-radius: 50%;
      vertical-align: middle;
      border-style: none;
      max-width: 50px;
      max-height: 50px;
    }
    .author-boxcontent {
      gap: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .author-name {
        margin-left: 10px;
        font-size: 1rem;
        line-height: 1.3;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 3px;
        border-radius: 10px;
        padding: 10px;
        background: #ebedf0;
        max-width: 500px;
        .name {
          font-weight: 500;
        }
        .comment {
          font-size: 0.9rem;
          line-height: 1.3;
          overflow-wrap: break-word;
        }
      }
      .comment-time {
        font-size: 7px;
        font-weight: 400;
        color: #5b5b5b;
      }
    }

    &:hover .delete-comment-btn {
      display: block;
      cursor: pointer;
    }
    .delete-comment-btn {
      display: none;
      position: relative;
      .dialog-form {
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: absolute;
        padding: 10px 20px;
        border-radius: 6px;
        width: 200px;
        z-index: 999;
        .content {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 5px;
          padding: 10px;
          &:hover {
            background-color: #ebedf0;
          }
        }
        &::before {
          position: absolute;
          content: '';
          border-width: 10px 15px;
          border-style: solid;
          border-color: transparent transparent white transparent;
          position: absolute;
          left: 0;
          top: -14px;
        }
      }
    }
  }
}

@media (max-width: 700px){
  .comment-item{
    .author-avatar {
      .author-boxcontent{
        .author-name{
          max-width: 380px;
        }
      }
    }
  } 
}
@media (max-width: 550px){
  .comment-item{
    .author-avatar {
      .author-boxcontent{
        .author-name{
          max-width: 320px;
        }
      }
    }
  } 
}
@media (max-width: 500px){
  .comment-item{
    .author-avatar {
      gap: 0px;
      .author-boxcontent{
        .author-name{
          max-width: 215px;
          margin-left: 5px;
        }
      }
      .delete-comment-btn{
        .dialog-form{
          width: 120px;
          position: absolute;
          left: -95px;
          &::before{
            position: absolute;
            content: '';
            left: 92px;
          }
          .content{
            font-size: 11px;
          }
        }
      }
    }
  } 
}