.comment-item {
  //margin-top: 20px;
  // display: flex;
  // justify-content: space-between;
  margin-left: 20px;
  padding-top: 15px;
  width: 100%;
  //padding: 0px 16px 16px 16px;
  .author-avatar {
    display: flex;
    // justify-content: center;
    width: 100%;
    // padding: 0 80px 0 0;
    // overflow-wrap: break-word;
    align-items: center;
    gap: 5px;
    position: relative;
    margin-bottom: 10px;
    .author-image{
      display: flex;
      align-items: center;
      div{
        // content: "";
        // //position: absolute;
        // top: 0;
        // left: 10px; /* Điều chỉnh khoảng cách của đường nối dọc */
        // width: 10px; /* Độ dài đường nối dọc */
        // height: 20px; /* Độ cao đường nối dọc */
        // background: linear-gradient(#6C7588, #6C7588) center/100% 3px no-repeat;
      }
      img {
        border-radius: 50%;
        vertical-align: middle;
        border-style: none;
        max-width: 50px;
        max-height: 50px;
      }
    }
    .author-boxcontent {
      gap: 5px;
      display: flex;
      flex-direction: column;
      // align-items: center;
      justify-content: center;
      .author-name {
        margin-left: 10px;
        font-size: 0.9rem;
        line-height: 1.3;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 3px;
        border-radius: 10px;
        padding: 10px;
        background: #242526f7;
        max-width: 500px;
        .author-name-item{
          display: flex;
          align-items: center;
          gap: 5px;
          .name {
            font-weight: 500;
          }
          .comment-time {
            font-size: 8px;
            font-weight: 400;
            color: #6C7588;
          }
        }
        .comment {
          font-size: 0.8rem;
          line-height: 1.3;
          overflow-wrap: break-word;
        }
      }
    }

    &:hover .delete-comment-btn {
      display: block;
      cursor: pointer;
    }
    .delete-comment-btn {
      display: none;
      position: relative;
      .dialog-form-light {
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: absolute;
        padding: 10px 20px;
        border-radius: 6px;
        width: 100px;
        z-index: 999;
        .content {
          width: 100%;
          display: flex;
          flex-direction: column;
          gap: 5px;
          padding: 10px;
          &:hover {
            background-color: #ebedf0;
          }
        }
        &::before {
          position: absolute;
          content: '';
          border-width: 10px 15px;
          border-style: solid;
          border-color: transparent transparent white transparent;
          position: absolute;
          left: 0;
          top: -14px;
        }
      }
      .dialog-form-dark {
        background-color: #242526;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: absolute;
        padding: 10px 20px;
        border-radius: 6px;
        width: 100px;
        z-index: 999;
        .content {
          width: 100%;
          display: flex;
          flex-direction: column;
          // gap: 5px;
          padding: 10px;
          &:hover {
            background-color: #ebedf0;
          }
        }
        &::before {
          position: absolute;
          content: '';
          border-width: 10px 15px;
          border-style: solid;
          border-color: transparent transparent #242526 transparent;
          position: absolute;
          left: 0;
          top: -14px;
        }
      }
    }
  }
}


.comment-like-div{
  display: flex; 
  gap: 5px;
  p{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 10px;
    cursor: pointer;
  }
}
@media (max-width: 768px){
  .comment-item{
    .author-avatar {
      .delete-comment-btn{
        .dialog-form-dark{
          width: 100px;
          position: absolute;
          left: -75px;
          &::before{
            position: absolute;
            content: '';
            left: 73px;
          }
          .content{
            font-size: 14px;
            padding: 5px;
          }
        }
        .dialog-form-light{
          width: 100px;
          position: absolute;
          left: -75px;
          &::before{
            position: absolute;
            content: '';
            left: 73px;
          }
          .content{
            font-size: 14px;
            padding: 5px;
          }
        }
      }
    }
  } 
}

@media (max-width: 700px){
  .comment-item{
    .author-avatar {
      .author-boxcontent{
        .author-name{
          max-width: 380px;
        }
      }
    }
  } 
}
@media (max-width: 550px){
  .comment-item{
    width: auto;
    .author-avatar {
      .author-boxcontent{
        .author-name{
          max-width: 320px;
        }
      }
    }
  } 
}
@media (max-width: 500px){
  .comment-item{
    .author-avatar {
      gap: 0px;
      .author-boxcontent{
        .author-name{
          max-width: 215px;
          margin-left: 5px;
        }
      }
      .delete-comment-btn{
        .dialog-form{
          width: 120px;
          position: absolute;
          left: -95px;
          &::before{
            position: absolute;
            content: '';
            left: 92px;
          }
          .content{
            font-size: 11px;
          }
        }
      }
    }
  } 
}