.comment-item {
  margin-left: 20px;
  padding-top: 15px;
  width: 100%;
  .author-avatar {
    display: flex;
    width: 100%;
    gap: 5px;
    position: relative;
    .author-image{
      display: flex;
      flex-direction: column;
      gap: 10px;
      img {
        border-radius: 50%;
        vertical-align: middle;
        border-style: none;
        max-width: 50px;
        max-height: 50px;
      }
      .author-image-line{
        height: 100%;
        width: 2px;
        background-color: #ccc;
        margin: 0 40%;
      }
    }
    .author-boxcontent {
      gap: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position:relative;
      max-width: calc(100% - 60px);
      .author-name {
        margin-left: 10px;
        font-size: 0.9rem;
        line-height: 1.3;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 3px;
        border-radius: 10px;
        padding: 10px;
        background: #242526f7;
        max-width: 500px;
        .author-name-item{
          display: flex;
          align-items: center;
          gap: 5px;
          .name {
            font-weight: 500;
          }
          .comment-time {
            font-size: 8px;
            font-weight: 400;
            color: #6C7588;
          }
          .comment-pin-icon{
            transform: rotate(345deg);
          }
        }
        .comment-item-author {
          font-size: 0.8rem;
          line-height: 1.3;
          overflow-wrap: break-word;
          white-space: pre-line;
          transition: max-height 0.7s ease;
          width: 100%;
          overflow:hidden;
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }
    }

    &:hover .delete-comment-btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
    }
    .delete-comment-btn {
      display: none;
      position: relative;
      .delete-icon-light{
        background-color: #fff;
        border-radius: 50%;
        padding: 3px;
        &:hover{
          background-color: #f5f5f5;
        }
      }
      .delete-icon-dark{
        background-color: rgb(36, 37, 38);
        border-radius: 50%;
        padding: 3px;
        &:hover{
          background-color: rgba(40, 40, 41, 0.97);
        }
      }
      .dialog-form-light {
        background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: absolute;
        top: calc(50% + 5px);
        left: -75px;
        padding: 5px 10px;
        border-radius: 6px;
        width: 100px;
        z-index: 99999;
        .content {
          width: 100%;
          display: flex;
          flex-direction: row;
          font-size: 0.8rem;
          gap: 5px;
          padding: 5px;
          &:hover {
            background-color: #ebedf0;
          }
        }
        &::before {
          position: absolute;
          content: '';
          border-width: 10px 15px;
          border-style: solid;
          border-color: transparent transparent white transparent;
          position: absolute;
          left: 72px;
          top: -14px;
        }
      }
      .dialog-form-dark {
        background-color: #242526;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        position: absolute;
        top: calc(50% + 5px);
        left: -75px;
        padding: 10px 20px;
        border-radius: 6px;
        width: 100px;
        z-index: 99999;
        .content {
          width: 100%;
          display: flex;
          flex-direction:row;
          font-size: 0.8rem;
          gap: 5px;
          padding: 5px;
          &:hover {
            background-color: #ebedf0;
          }
        }
        &::before {
          position: absolute;
          content: '';
          border-width: 10px 15px;
          border-style: solid;
          border-color: transparent transparent #242526 transparent;
          position: absolute;
          left: 72px;
          top: -14px;
        }
      }
    }
  }
}
.comment-hiden{
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 9px;
  .css-ovhbpk{
    font-size:14px;
  }
}

.comment-hiden:hover{
  text-decoration: underline;
}

.comment-like-div{
  display: flex; 
  gap: 5px;
  p{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 10px;
    cursor: pointer;
  }
}

@media (max-width: 768px){
  .comment-item{
    width: auto;
    .author-avatar {
      .delete-comment-btn{
        .dialog-form-dark{
          width: 100px;
          position: absolute;
          left: -75px;
          &::before{
            position: absolute;
            content: '';
            left: 72px;
          }
          .content{
            font-size: 14px;
            padding: 5px;
          }
        }
        .dialog-form-light{
          width: 100px;
          position: absolute;
          left: -75px;
          &::before{
            position: absolute;
            content: '';
            left: 72px;
          }
          .content{
            font-size: 14px;
            padding: 5px;
          }
        }
      }
    }
  } 
}

@media (max-width: 700px){
  .comment-item{
    .author-avatar {
      .author-boxcontent{
        .author-name{
          max-width: 380px;
        }
      }
    }
  } 
}
@media (max-width: 550px){
  .comment-item{
    width: auto;
    padding-top: 10px;
    .author-avatar {
      .author-boxcontent{
        .author-name{
          max-width: 320px;
        }
      }
    }
  } 
}
@media (max-width: 500px){
  .comment-item {
    margin-left: 0px;
    .author-avatar {
      gap: 0px;
      .author-image {
        img {
          width: 40px;
          height: 40px;
        }
      }
      .author-boxcontent {
        .author-name {
          max-width: 215px;
          margin-left: 5px;
          .author-name-item {
            .name{
              font-size: 12px;
            }
            .comment-time{
              font-size: 8px;
            }
          }
        }
      }
      .delete-comment-btn{
        .dialog-form{
          width: 120px;
          position: absolute;
          left: -95px;
          &::before{
            position: absolute;
            content: '';
            left: 92px;
          }
          .content{
            font-size: 11px;
          }
        }
      }
    }
  } 
}