.upload-dialog{
    border-radius: 10px;
    padding: 10px;
    .upload-dialog-div{
        color: rgb(108, 117, 136);
        display: flex;
        justify-content:space-between;
        align-items:center;;
        padding: 10px 10px;
        border-bottom: none;
        p{
            border-radius: 50%;
            border: 1px solid #8080805c;
            padding: 2px;
            cursor: pointer;
        }
        .upload-dialog-div-user{
            display: flex;
            align-items:center;
            gap: 5px;
            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
            p{
                border:none;
                font-size: 13px;
            }
        }
    }
    .upload-dialog-div:first-child{
        border-bottom: 1px solid #8080805c;
    }
}

.upload-input{
    border: none;
    word-wrap: break-word;
    margin: 0 10px;
    width: 330px;
    height:200px;
}

.upload-input:focus {
    outline: none;
}
.upload-div-image{
    position:relative;
    padding: 10px;
    display: flex;
    justify-content: center;
    .upload-delete-image{
        position:absolute;
        z-index: 500;
        top: -10px;
        right: 5px;
        float: right;
        border-radius: 50%;
        border: 1px solid #8080805c;
        padding: 2px;
        color: rgb(108, 117, 136);
        cursor: pointer;
    }
    .upload-image{
        width: 400px;
        // height:300px;
    }
}

.upload-button{
    margin: 10px;
    color: #f8f8f8;
    font-weight: 700;
    border: 1px solid #8080805c;
    background-color:rgba(245, 245, 245, 0);
    border-radius: 10px;
    background-color: #00bbff;
    cursor: pointer;
}

@media (max-width: 500px){
    .upload-div-image{
        .upload-image{
            width: 300px;
        }
    } 
}