.upload-dialog{
    border-radius: 15px;
    padding: 10px;
    .upload-dialog-box{
        width: 360px;
        height: 350px;
        .upload-dialog-div{
            color: rgb(108, 117, 136);
            display: flex;
            justify-content:space-between;
            align-items:center;;
            padding: 10px 10px;
            border-bottom: none;
            h1{
                font-weight: 500;
                font-size: 18px;
            }
            p{
                cursor: pointer;
            }
            .upload-dialog-div-user{
                display: flex;
                align-items:center;
                gap: 5px;
                img{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }
                p{
                    border:none;
                    font-size: 13px;
                    font-weight: 500;
                }
            }
        }
        .upload-dialog-div:first-child{
            border-bottom: 1px solid #8080805c;
        }
    }
    .css-uhb5lp{
        overflow:hidden;
    }
}

.upload-input{
    border: none;
    word-wrap: break-word;
    margin: 0 10px;
    width: calc(100% - 20px);
    height: 200px;
}

.upload-input:focus {
    outline: none;
}
.upload-div-image-light{
    position:relative;
    padding: 10px;
    display: flex;
    justify-content: center;
    height: 200px;
    margin: 0 15px;
    background-color: #ebedf078;
    .upload-delete-image{
        display: none;
        color:black;
        position:absolute;
        z-index: 500;
        top: -10px;
        right: -10px;
        float: right;
        border-radius: 50%;
        cursor: pointer;
        width: 25px;
        height: 25px;
    }
    .upload-image{
        max-width: 330px;
        max-height: 200px;
        object-fit: contain;
    }
}

.upload-div-image-light:hover{
    background-color: #ebedf0eb;
    opacity: 0.6;
    .upload-delete-image{
        display: block;
    }
}
.upload-div-image-dark{
    position:relative;
    padding: 10px;
    display: flex;
    justify-content: center;
    height: 200px;
    margin: 0 15px;
    background-color: #5a5a6408;
    .upload-delete-image{
        display: none;
        color:white;
        position:absolute;
        z-index: 500;
        top: -10px;
        right: -10px;
        float: right;
        border-radius: 50%;
        cursor: pointer;
        width: 25px;
        height: 25px;
    }
    .upload-image{
        max-width: 330px;
        max-height: 200px;
        object-fit: contain;
    }
}
.upload-div-image-dark:hover{
    background-color: #6c75880a;
    opacity: 0.5;
    .upload-delete-image{
        display: block;
    }
}

.upload-button{
    margin: 10px;
    font-weight: 700;
    border: 1px solid #8080805c;
    background-color:rgba(245, 245, 245, 0);
    border-radius: 10px;
    cursor: pointer;
    width: calc(100% - 20px);
}

@media (max-width: 500px){
    .upload-dialog{
        .upload-dialog-box{
            width: 280px;
            .upload-dialog-div{
                h1{
                    font-size: 18px;
                }  
            }
        }
    }
    .upload-div-image-dark{
        .upload-image{
            max-width: 250px;
        }
        .upload-delete-image{
            display: block;
        }
    }
    .upload-div-image-light{
        .upload-image{
            max-width: 250px;
        }
        .upload-delete-image{
            display: block;
        }
    }
    .upload-div-image-light:hover{
        background-color: #ebedf078;
        opacity:1;
    }
    .upload-div-image-dark:hover{
        background-color: #5a5a6408;
        opacity:1;
    }
}