.upload-dialog{
    border-radius: 10px;
    padding: 10px;
    .upload-dialog-div{
        color: rgb(108, 117, 136);
        display: flex;
        justify-content:space-between;
        align-items:center;
        width: 350px;
        padding: 10px 10px;
        border-bottom: none;
        p{
            border-radius: 50%;
            border: 1px solid #8080805c;
            padding: 2px;
        }
        .upload-dialog-div-user{
            display: flex;
            align-items:center;
            gap: 5px;
            img{
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
            p{
                border:none;
                font-size: 13px;
            }
        }
    }
    .upload-dialog-div:first-child{
        border-bottom: 1px solid #8080805c;
    }
}

.upload-input{
    border: none;
    word-wrap: break-word;
    margin: 0 10px;
    width: 330px;
    height:300px;
}

.upload-input:focus {
    outline: none;
}
.upload-div-image{
    position:relative;
    .upload-delete-image{
        position:absolute;
        z-index: 500;
        top: -10px;
        right: 5px;
        float: right;
        border-radius: 50%;
        border: 1px solid #8080805c;
        padding: 2px;
        color: rgb(108, 117, 136);
    }
    .upload-image{
        margin: 0 10px;
        width: 330px;
        height:300px;
    }
}

.upload-button{
    margin: 10px;
    color: rgb(108, 117, 136);
    border: 1px solid #8080805c;
    background-color:rgba(245, 245, 245, 0);
    border-radius: 10px;
}