.header-text{
    font-size: 12px;
    margin-top: 10px;
    display: flex; 
    align-items: center;
    gap: 3px;
    position: relative;
    padding-left: 20px;
    margin-left: 20px;
    cursor: pointer;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 2px;
        height: 51%;
        border-left: 2px solid #ccc;
    }
    &::after {
        content: "";
        position: absolute;
        top: 40%;
        left: 0;
        width: 16px;
        height: 2px;
        border-radius: 0 3px 0 25px;
        border-bottom: 2px solid #ccc;
    }
}



.comment-feedback-div{
    margin: 5px 0 0 45px; 
    .comment-feedback {
        position: relative;
        &:last-child{
            margin-bottom: 20px;
        }
        .comment-item{
            .author-avatar{
                margin-bottom: 0;
                .author-image{
                    img{
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 2px;
            height: 100%;
            border-left: 2px solid #ccc;
        }
        &::after {
            content: "";
            position: absolute;
            top: 55%;
            left: 0;
            width: 18px;
            height: 2px;
            border-bottom: 2px solid #ccc;
        }
        &:last-child::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 2px;
            height: 57%;
            border-left: 2px solid #ccc;
        }
        &:last-child::after {
            content: "";
            position: absolute;
            top: 55%;
            left: 0;
            width: 18px;
            height: 2px;
            border-radius: 0 3px 0 25px;
            border-bottom: 2px solid #ccc;
        }
    }
}

@media (max-width: 850px){
     .comment-feedback-div{
        .comment-feedback{
            .comment-item{
                .author-avatar{
                    .author-boxcontent{
                        .author-name{
                            max-width: 410px;
                        }
                    }
                    .delete-comment-btn{
                        .dialog-form-dark{
                          width: 100px;
                          position: absolute;
                          left: -70px;
                          &::before{
                            position: absolute;
                            content: '';
                            left: 73px;
                          }
                        }
                        .dialog-form-light{
                          width: 100px;
                          position: absolute;
                          left: -70px;
                          &::before{
                            position: absolute;
                            content: '';
                            left: 73px;
                          }
                        }
                    } 
                }
            }
        }
    }
}
@media (max-width: 650px){
     .comment-feedback-div{
        .comment-feedback{
            .comment-item{
                .author-avatar{
                    .author-boxcontent{
                        .author-name{
                            max-width: 350px;
                        }
                    } 
                }
            }
        }
    }
}
@media (max-width: 600px){
     .comment-feedback-div{
        .comment-feedback{
            .comment-item{
                .author-avatar{
                    .author-boxcontent{
                        .author-name{
                            max-width: 300px;
                        }
                    } 
                }
            }
        }
    }
}
@media (max-width: 550px){
     .comment-feedback-div{
        .comment-feedback{
            .comment-item{
                .author-avatar{
                    .author-boxcontent{
                        .author-name{
                            max-width: 230px;
                        }
                    } 
                }
            }
        }
    }
}
@media (max-width: 500px){
    .header-text{
        margin-left: 0;
        padding-left: 0;
        &::before{
            display: none;
        }
        &::after{
            display: none;
        }
    }
    .comment-feedback-div{
        margin: 0 0 0 6px;
        .comment-feedback{
            .comment-item{
                .author-avatar{
                    .author-boxcontent{
                        .author-name{
                            max-width: 200px;
                        }
                    } 
                    .delete-comment-btn{
                        .dialog-form-dark{
                          width: 100px;
                          position: absolute;
                          left: -70px;
                          &::before{
                            position: absolute;
                            content: '';
                            left: 73px;
                          }
                        }
                        .dialog-form-light{
                          width: 100px;
                          position: absolute;
                          left: -75px;
                          &::before{
                            position: absolute;
                            content: '';
                            left: 73px;
                          }
                        }
                    } 
                }
            }
        }
    }
}