* {
  margin: 0;
  padding: 0;
}

html {
  width: 100vw;
  height: 100vh;
}

/* CSS which you need for blurred box */
body {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  background-image: url(http://bit.ly/2gPLxZ4);
  max-width: 100%;
  max-height: 100%;
  font-family: Arial, Helvetica;
  letter-spacing: 0.02em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

/* Form which you dont need */
.user-login-box {
  position: relative;
  top: 14rem;
}

.image {
    text-align: center;
}

.img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.user-name {
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
}

input.user-password {
  width: 120px;
  height: 18px;
  opacity: 0.4;
  border-radius: 2px;
  padding: 5px 15px;
  border: 0;
}