/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 110px;
}
.btn-login {
  box-sizing: border-box;
  background: #7289da;
  border: none;
  color: #fff;
  height: 40px;
  width: 328px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease;
  user-select: none;
  font-size: 14px;
}
.icon-discord {
  overflow: hidden;
  vertical-align: middle;
}
