.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 90px;
}

body {
  width: 100%;
  margin: 0;
  position: relative;
}
body::-webkit-scrollbar-button {
  /* // background-image: linear-gradient(-45deg, #6a5af9, #d66efd); */
  border-radius: 50px;
  width: 10px;
  background-color: #e7e9eb;
}
.btn-login {
  box-sizing: border-box;
  background: #7289da;
  border: none;
  color: #fff;
  height: 40px;
  width: 328px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease;
  user-select: none;
  font-size: 14px;
}

.post-data-container {
  background-color: #242526;
}

.icon-discord {
  overflow: hidden;
  vertical-align: middle;
}

.image {
  text-align: center;
}

.nav-header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 55px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9998;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 10px;
}

.main-content {
  margin-top: 25px;
  margin-bottom: 30px;
}

.container-fluid {
  background-color: #18191a;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.row {
  flex-wrap: wrap;
}

.row-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}

.list-view {
  max-width: 800px;
}
.none {
  display: none;
}

.post {
  position: relative;
  background-color: #fff;
  margin-bottom: 30px;
}

.form-like {
  display: inline-block;
  margin-right: 3px;
}

.comment > i {
  margin-top: 5px;
}

li.list-inline-item:not(:last-child) {
  margin-right: 0;
}

.list-avatar {
  display: flex;
  align-items: center;
  padding: 15px;
}

.img-people {
  border-radius: 50%;
  margin-right: 0.5rem;
  vertical-align: middle;
  border-style: none;
}

.img-people-avatar {
  border-radius: 50%;
  margin-right: 0.5rem;
  vertical-align: middle;
  border-style: none;
}

.img-comment {
  border-radius: 50%;
  margin-right: 0.5rem;
  vertical-align: middle;
  border-style: none;
  height: 30px;
}

.img-notification {
  border-radius: 50%;
  margin-right: 0.5rem;
  border-style: none;
}

.text-avatar {
  font-weight: 700;
}

.cD {
  cursor: default;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.reaction-user {
  padding: 10px 15px;
}

.box-reaction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box-reaction-list {
  padding-left: 0;
  list-style: none;
  flex-direction: row;
  margin: 0;
  display: flex;
  align-items: center;
}

.btn-reaction {
  border-radius: 50%;
  border: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.container-login {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 110px;
}

.btn-login {
  box-sizing: border-box;
  background: #7289da;
  border: none;
  color: #fff;
  height: 40px;
  width: 328px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease;
  user-select: none;
  font-size: 14px;
}

.emoji {
  width: 18px;
  height: 18px;
}
div.modal {
  position: fixed;
  top: 20%;
}
.interaction {
  display: flex;
  justify-content: center;
  position: relative;
  border-top: 1px solid #80808045;
  align-items: center;
}

.interaction > button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  border: 0;
  background: transparent;
  font-size: 15px;
  font-family: sans-serif;
  color: #65676b;
}

.navbar-nav .img-people {
  cursor: pointer;
  margin-left: 9.2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  vertical-align: middle;
  border-style: none;
}

.navbar-nav .img-people-avatar {
  cursor: pointer;
  border-radius: 50%;
  vertical-align: middle;
  border-style: none;
  margin-right: 25px;
}

.navbar-content {
  position: fixed;
  width: auto;
  height: auto;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 16px;
  top: 3.4rem;
  right: 2rem;
}

.navbar-content .navbar-user {
  font-size: 16px;
  font-weight: 650;
  margin: auto;
}

.comment {
  border-left: rgba(52, 63, 66, 0.5) solid 1px;
}

.comment:hover {
  background-color: rgba(52, 63, 66, 0.35);
}

.comments {
  width: 100%;

  font-family: inherit;
}

.show-author-comments {
  padding-left: 10px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

.author-comment {
  min-height: 30px;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  padding-right: 8px;
}

.author {
  min-height: 30px;
  font-size: 15px;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
}

.comment-text {
  min-height: 30px;
  font-size: 14px;
}

.content-comments {
  padding: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 99%;
}

.content-comment {
  padding: 6px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 99%;
}
.content-comment-infor {
  display: flex;
}
.content-comment:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.column {
  display: flex;
  flex-direction: column;
  width: 99%;
}

.space-between {
  display: flex;
  justify-content: space-between;
  width: 99%;
}

.inputWithIcon {
  /* position: relative; */
  display: flex;
  align-items: center;
  margin: 10px 30px;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

input {
  width: 100%;
  padding: 3px;
  font-size: 15px;
  font-family: inherit;
  border: none;
  outline: none;
  padding: 20px 0 20px 10px;
}

.timeStamp {
  font-size: 13px;
}

.user-comment {
  display: flex;
}

.dark {
  cursor: pointer;
  background: #e4e6eb;
  border-radius: 50%;
  font-size: 16px;
  padding: 10px 10px;
}

.notification {
  cursor: pointer;
  background: #e4e6eb;
  border-radius: 50%;
  padding: 10px 10px;
}
.time-notifi {
  color: hsl(214, 89%, 52%);
  padding-left: 50px;
  font-size: 13px;
}
.btnNotification,
.btndark {
  position: relative;
  margin-right: 10px;
}
#noti_Counter {
  display: block;
  position: absolute;
  background: #e1141e;
  color: #fff;
  font-size: 12px;
  font-weight: normal;

  margin: 1px 0 0 25px;

  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 50%;
  z-index: 1;
}
svg.icon_notification,
svg.icon_dark {
  background: #e4e6eb;
  border-radius: 50%;
  padding: 10px 10px;
}

@media only screen and (min-width: 1600px) {
  svg.icon_notification {
    display: none;
  }
}

.logoNcc {
  width: 50px;
  height: 50px;
  align-items: center;
  display: flex;
  margin-left: 25px;
  cursor: pointer;
}

.alert-bell {
  margin-top: -10px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 9999;
}

.listNotification {
  top: 4rem;
  right: 1.5rem;
  width: 400px;
}

.navbar-content-notification {
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  overflow-y: auto;
  max-height: 88vh;
  width: 22rem;
  border-radius: 10px;
  height: auto;
}
.navbar-notification-all {
  padding: inherit;
}

.navbar-notification-all :hover {
  border-radius: 0px;
  background-color: #2d88ff;
}

.notification-all {
  background-color: #f0f2f5;
  height: 2rem;
  width: 4rem;
  padding: 5px 11px;
  border-radius: 20px;
}

.notification-all:hover {
  background-color: #aac9ff;
  cursor: pointer;
}

.notification-all .all {
  text-decoration: none;
  color: #1877f2;
  font-family: inherit;
}

.notification-see-all {
  padding-left: 13.5rem;
  height: 2rem;
  width: 20rem;
}

.see-all {
  text-decoration: none;
  color: #1877f2;
  padding: 5px 6px;
}

.see-all:hover {
  background-color: #f2f3f5;
  border-radius: 6px;
  cursor: pointer;
}

.collapse.navbar-collapse.nav-notification {
  position: relative;
  display: flex;
}

.content-message {
  font-size: 16px;
}

.content-notification {
  padding: 6px;
}

.show-comment-like {
  display: none;
  position: absolute;
  top: -15px;
  right: 15px;
  width: 15px;
  height: 15px;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  background-color: #ff8d4d;
  color: white;
  font-size: 15px;
  padding: 4px 4px;
}

.img-people-comment {
  border-radius: 50%;
  width: 45px;
  margin-right: 6px;
}

.material-symbols-outlined {
  font-size: 20px;
}

span.material-symbols-outlined {
  font-size: 20px;
}

.like {
  border-right: rgba(52, 63, 66, 0.5) solid 1px;
}

.like:hover {
  background-color: rgba(52, 63, 66, 0.35);
}

.likes {
  display: flex;
  align-items: center;
}

.person-icon {
  border-radius: 50%;
  border: 2px solid #65676b;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  cursor: pointer;
}

.count-like-comment {
  display: flex;
  justify-content: space-between;
  margin: 0 16px;
  color: #65676b;
  font-family: sans-serif;
  margin-bottom: 5px;
  align-items: center;
}
@media only screen and (max-width: 240px) {
  .flex {
    display: none;
  }
}

.flex {
  display: flex;
  align-items: center;
}

.count-comment {
  display: flex;
  margin-left: 9rem;
  white-space: nowrap;
}

button:active {
  border: none;
}

.profile {
  display: flex;
  margin-top: 10px;
}

.profile-notification {
  display: flex;
}

.nav-link {
  text-decoration: none;
  display: flex;
  width: 100%;
  align-items: center;
}

.link {
  display: flex;
  padding: 7px;
  width: 100%;
  align-items: center;
}

.icon-logout {
  height: 26px;
  width: 26px;
}

.icon-radius {
  border-radius: 50%;
  padding: 10px;
  background-color: #80808030;
}

.text-logout {
  font-size: 1.2rem;
  font-family: inherit;
  color: black;
  font-weight: 500;
  padding-left: 10px;
  width: fit-content;
  white-space: nowrap;
}

.interaction button:active {
  border: none;
  background-color: #d5d5d5;
}

.link:hover {
  background-color: #80808030;
  border-radius: 1rem;
}

.scrollup {
  width: 40px;
  height: 40px;
  opacity: 0.3;
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: none;
  text-indent: -9999px;
  background: url(http://seenual.com/wp-content/uploads/2016/03/icon_top.png)
    no-repeat;
}

.content-important a {
  text-decoration: none;
}

/* FLEX-BOX */
.bg-gray {
  background-color: #f0f2f5;
}
.fs-0 {
  font-size: 4rem;
}
.fs-7 {
  font-size: 0.8rem;
}
/* nav button */
.nav__btn button:hover {
  background: #f0f2f5 !important;
}
.nav__btn button:hover i {
  color: #0d6efd !important;
}
.nav__btn-active i {
  color: #0d6efd !important;
}
.nav__btn-active {
  position: relative;
}
.nav__btn-active:before {
  content: '';
  position: absolute;
  bottom: -4.5px;
  left: 0;
  transform: translate(0, 4.5px);
  width: 100%;
  height: 3px;
  border-bottom: 3px solid #0d6efd !important;
}
/* dropdown */
.dropdown-item:active {
  background-color: #d5d5d5 !important;
}
/* chat box */
.modal-content:hover .fa-phone-alt {
  color: #0d6efd !important;
}
.modal-content:hover .fa-video {
  color: #0d6efd !important;
}
.modal-content:hover .fa-file-image {
  color: #0d6efd !important;
}
.modal-content:hover .fa-plus-circle {
  color: #0d6efd !important;
}
.modal-content:hover .fa-portrait {
  color: #0d6efd !important;
}
.modal-content:hover .fa-adjust {
  color: #0d6efd !important;
}
.modal-content:hover .fa-thumbs-up {
  color: #0d6efd !important;
}
/* edit */
.edit-button {
  opacity: 0;
}
.edit-button:hover {
  opacity: 1;
}
.edit-heading:hover .edit-button {
  opacity: 1;
}
/* scrollbar */
.scrollbar:hover {
  overflow: auto !important;
}

/* sponsor */
.sponsor-icon {
  opacity: 0;
}
.dropdown-item:hover .sponsor-icon {
  opacity: 1;
}
/* popover */
.pop-avatar {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 15px;
}
.chat-box {
  border: 0 !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/* stories */
.story:hover {
  opacity: 0.8;
}
.pointer {
  cursor: pointer;
}
/* comment */
.post__comment .accordion-button::after {
  margin-left: 0 !important;
  display: none !important;
}
.post__comment .accordion-button:hover {
  background: transparent !important;
  border-color: transparent !important;
}
.post__comment .accordion-button:not(.collapse-customd) {
  background: transparent !important;
}
.post__comment .accordion-button:not(.collapse-customd) {
  box-shadow: none !important;
}
@media (min-width: 62em) {
  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }
}
