.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 110px;
}
.btn-login {
  box-sizing: border-box;
  background: #7289da;
  border: none;
  color: #fff;
  height: 40px;
  width: 328px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease;
  user-select: none;
  font-size: 14px;
}
.icon-discord {
  overflow: hidden;
  vertical-align: middle;
}
.image {
  text-align: center;
}

.nav-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  background-color: #ffffff;
  display: flex;
  justify-content: end;
  padding: 20px 55px;
}
.nav-link {
  text-decoration: none;
  font-size: 18px;
  color: gray;
}
.main-content {
  margin-top: 100px;
  margin-bottom: 30px;
}
.container {
  width: 100%;
  background: #eeeeee;
  margin-right: auto;
  margin-left: auto;
}
.row {
  flex-wrap: wrap;
}
.row-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
}
.list-view {
  max-width: 800px;
}
.content-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.list-avatar {
  display: flex;
  align-items: center;
}
.img-people {
  border-radius: 50%;
  margin-right: 0.5rem;
  vertical-align: middle;
  border-style: none;
}
.text-avatar {
  font-weight: 700;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.reaction-user {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
.box-reaction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.box-reaction-list {
  padding-left: 0;
  list-style: none;
  flex-direction: row;
  margin: 0;
}
.list-reaction {
  float: left;
  margin-right: 5px;
}
.btn-reaction {
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  outline: none;
  background-color: #ffffff;
  border: 2px solid rgba(0, 0, 0, 0.1);
  min-width: 60px;
  margin-bottom: 5px;
  font-weight: 400;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.container-login {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 110px;
}
.btn-login {
  box-sizing: border-box;
  background: #7289da;
  border: none;
  color: #fff;
  height: 40px;
  width: 328px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease;
  user-select: none;
  font-size: 14px;
}
.icon-discord {
  overflow: hidden;
  vertical-align: middle;
}

.comment-box {
  padding: 1rem;
}
.emoji {
  width: 16px;
  margin-right: 4px;
}
