.container-input-posts{
    padding-bottom: 10px;
    border-bottom: 1px solid #80808042;
    //margin-top: 5px;
    color: #6C7588;
    .search-input{
        border-radius: 25px;
        border: 1px solid #80808042;
        display: flex;
        align-items: center;
        position:relative;
        .date-picker {
            border-radius: 25px 0 0 25px;
            background-color: white;
            border: none;
            width: 90%;
            height: 40px;
            color: #6C7588;
            div {
                height: 40px;
                border-radius: 25px 0 0 25px;
                padding-right: 5px;
            }
            fieldset{
                border:none;
            }
        }
        .icon-date-picker{
            display: flex;
            align-items: center;
        }
        .search-button{
            height: 40px;
            width: 10%;
            border-radius: 0 25px 25px 0;
            border: 1px solid #80808042;
            background-color: white;
        }
    }
    .date-range-picker{
        width: 80%;
        z-index: 100000;
        position: absolute;
        top: 62px;
        left: 32px;
        .react-datepicker {
            width: 100%;
        }
        .react-datepicker__month-container{
            width: 100%;
        }
    }
}