.userInfo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  .userInfo-item-UserAvatar img {
    border-radius: 50%;
    vertical-align: middle;
    border-style: none;
    max-width: 50px;
    max-height: 50px;
  }
  .userInfo-item-userInfo {
    margin-left: 10px;
    .userInfo-name {
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.3;
    }
    .userInfo-time {
      font-size: 0.8rem;
      line-height: 1.3;
    }
  }
  &:hover .delete-post-btn {
    display: block;
    cursor: pointer;
  }
  .delete-post-btn {
    display: none;
    position: relative;
    .dialog-form {
      display: flex;
      gap: 5px;
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      position: absolute;
      padding: 10px 20px;
      border-radius: 6px;
      width: 85px;
      z-index: 999;
      &::before {
        position: absolute;
        content: '';
        border-width: 10px 15px;
        border-style: solid;
        border-color: transparent transparent white transparent;
        position: absolute;
        left: 0;
        top: -14px;
      }
    }
  }
}
@media (max-width: 768px) {
  .userInfo-item {
    .delete-post-btn {
      .dialog-form {
        width: 80px;
        position: absolute;
        left: -20px;
        &::before {
          position: absolute;
          content: '';
          left: 20px;
        }
        .content {
          font-size: 11px;
        }
      }
    }
  }
}
