.userInfo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  .userInfo-item-UserAvatar img {
    border-radius: 50%;
    vertical-align: middle;
    border-style: none;
    max-width: 50px;
    max-height: 50px;
  };
  .userInfo-item-userInfo {
    margin-left: 10px;
    .userInfo-name {
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.3;
    };
    .userInfo-time{
      font-size: 0.8rem;
      line-height: 1.3;
    }
  }
  &:hover .delete-post-btn {
    display: block;
    cursor: pointer;
  }
  .delete-post-btn {
    display: none;
    position: relative;
    .dialog-form {
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      position: absolute;
      padding: 10px 20px;
      border-radius: 6px;
      width: 100px;
      z-index: 999;
      p {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 10px;
      }
      p:hover {
        background-color: #ebedf0;
      }
      &::before {
        position: absolute;
        content: '';
        border-width: 10px 15px;
        border-style: solid;
        border-color: transparent transparent white transparent;
        position: absolute;
        left: 0;
        top: -14px;
      }
    }
  }
}