.userInfo-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  .userInfo-item-UserAvatar img {
    border-radius: 50%;
    vertical-align: middle;
    border-style: none;
    max-width: 50px;
    max-height: 50px;
  }
  .userInfo-item-userInfo {
    margin-left: 10px;
    .userInfo-name {
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.3;
    }
    .userInfo-time {
      font-size: 0.8rem;
      line-height: 1.3;
    }
  }
  .delete-post-btn {
    cursor: pointer;
    position: relative;
    .delete-icon{
      background-color: #fff;
      border-radius: 50%;
      padding: 3px;
      &:hover{
        background-color: #f5f5f5;
      }
    }
    
    .dialog-form-light {
      display: flex;
      gap: 5px;
      background-color: #fff;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      position: absolute;
      padding: 5px 5px;
      border-radius: 6px;
      //width: 100px;
      z-index: 999;
      &::before {
        position: absolute;
        content: '';
        border-width: 10px 15px;
        border-style: solid;
        border-color: transparent transparent white transparent;
        position: absolute;
        left: 0;
        top: -14px;
      }
    }
    .dialog-form-dark {
      display: flex;
      gap: 5px;
      background-color: #242526;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      position: absolute;
      padding: 10px 20px;
      border-radius: 6px;
      width: 100px;
      z-index: 999;
      &::before {
        position: absolute;
        content: '';
        border-width: 10px 15px;
        border-style: solid;
        border-color: transparent transparent #242526 transparent;
        position: absolute;
        left: 0;
        top: -14px;
      }
    }
  }
}
@media (max-width: 768px) {
  .userInfo-item {
    .delete-post-btn {
      .dialog-form-light {
        //width: 90px;
        position: absolute;
        left: -30px;
        &::before {
          position: absolute;
          content: '';
          left: 30px;
        }
        .content {
          font-size: 11px;
        }
      }
      .dialog-form-dark {
        //width: 90px;
        position: absolute;
        left: -30px;
        &::before {
          position: absolute;
          content: '';
          left: 30px;
        }
        .content {
          font-size: 11px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .userInfo-item {
    .userInfo-item-UserAvatar {
      img{
        width: 40px;
        height: 40px;
      }
    }
    .userInfo-item-userInfo{
      .userInfo-name{
        font-size: 12px;
      }
      .userInfo-time {
        font-size: 10px;
      }
    }
  }
}