.navbar-logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 6px;
  text-align: center;
  padding: 0 16px;
  top: 3.4rem;
  right: 2rem;
  padding: 5px;
  .link{
    border-radius: 50%;
    padding: 10px;
    background-color: #80808030;
    img{
      height: 26px;
      width: 26px;
    }
  }
  .text-logout{
    margin-left: 10px;
  }
}
