.container-list-users{
    width: 100%;
    background-color: white;
    background-color: white;
    padding: 10px;
    color: #6C7588;
    margin-top: 20px;
    .list-user {
        display: flex;
        justify-content:space-between;
        align-items: center;
        border-bottom: 1px solid #80808042;
        margin: 5px;
        .list-user-author{
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 5px;
            margin-bottom: 5px;
            img {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            }
        }
        .post-onclick-p:hover{
            text-decoration: underline;
        }
    }
    .list-channel{
        padding: 15px 5px;
        display: flex;
        align-items: center;
        justify-content:space-between;
        border-bottom: 1px solid #80808042;
        .list-channel-icon{
            display: flex;
            gap:5px;
            align-items: center;
        }
        .list-channel-total{
            font-size: 14px;
        }
    }
    .list-channel:hover{
        background-color:rgb(192, 191, 191);
    }
    .list-channel-header{
        padding-bottom: 11px;
        border-bottom: 1px solid #80808042;
    }
}