.container{
    height:350px;
    width:350px;
    font-size: 16px;
    padding: 20px 10px;
    overflow-y: scroll;
    .title-notifi{
        font-size: 20px;
        font-weight:500;
        margin-bottom: 10px;
    }
}

.container::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
.container::-webkit-scrollbar
{
	width: 3px;
	background-color: #F5F5F5;
}
.container::-webkit-scrollbar-thumb
{
	background-color: #5a5a64;
}