.container-item-reactInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100% !important;
  position: relative;
  margin-top: 10px;
  --c-text: #5a5a64;
  --c-text-light: #a1a1b6;
  --c-text-selection: #09abc3;
  --c-background: #fff;
  --c-background-selection: rgba(9, 171, 195, 0.15);
  --c-border: #e2e2ed;
  --c-border-hover: #d0d0db;
  --c-border-active: #09abc3;
  --c-shadow: rgba(41, 41, 86, 0.06);
  --c-shadow-active: rgba(9, 171, 195, 0.25);
  --eye-background: 0;
  --eye-offset: 3px;
  --eye-wrapper-y: 0;
  --eye-y: 0;
  --eye-x: 0;
  --eye-s: 1;
  width: 220px;
  position: relative;
  border-radius: 7px;
  background: var(--c-background);
  box-shadow: inset 0 0 0 1px var(--border, var(--c-border)),
    0px 1px 3px var(--shadow, var(--c-shadow));
  transition: box-shadow 0.25s;
  &:hover {
    --border: var(--c-border-hover);
    --eye-duration: 0.05s;
  }
  &:focus-within {
    --border: var(--c-border-active);
    --shadow: var(--c-shadow-active);
  }
  .emoji-box {
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 9999;
  }
  input {
    width: 100%;
    -webkit-appearance: none;
    outline: none;
    background: none;
    border: none;
    margin: 0;
    display: block;
    font-size: 16px;
    line-height: 21px;
    height: 45px;
    color: var(--c-text);
    padding: 12px 41px 12px 16px;
    transform: translateY(var(--y, var(--default-y, 0))) translateZ(0);
    opacity: var(--o, var(--default-o, 1));
    pointer-events: var(--pe, var(--default-pe, auto));
    transition: filter 0.35s, transform 0.4s, opacity 0.25s;
    &::placeholder {
      color: var(--c-text-light);
      transition: color 0.25s;
    }
    &::selection {
      color: var(--c-text-selection);
      background: var(--c-background-selection);
    }
    &:focus,
    &:hover {
      &::placeholder {
        color: var(--c-text);
      }
    }
    &:not(.clear) {
      width: 100%;
    }
    &.clear {
      --y: var(--clear-y, 12px);
      --o: var(--clear-o, 0);
      --pe: var(--clear-pe, none);
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
    }
  }
  .container-item-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .container-item-emoji {
      width: 100%;
      .emoji-box {
        position: absolute;
        top: 40px;
        right: 0;
      }

      .input-icon {
        padding: 5px 16px 5px 18px;
        color: #ccc;
      }
    }
    .input-button {
      padding: 8px;
      // color: #89CFF0;
      cursor: pointer;
      font-size: 40px;
    }
    .disabled {
      color: #cdcaca;
      pointer-events: none;
    }
  }
}
